.user-logout{
    text-align: right;
    padding-top: 0.7em;
    padding-right: 2.0em;
}
.user-logout-btn{
    width: 3.1em;
    height: 3.1em;
    text-align: center;
    justify-content: center;
    border: 0.2em solid #ff0f0f;
    background-color: #fff;
    border-radius: 50%;
}
.user-logout-icon{
    color: #ff0f0f;
    font-weight: bolder;
    font-size: 1.7em;
    transform: rotate(180deg);
}