.getting-started{
    display: flex;
    position: absolute;
    margin-top: 22.0%;
    margin-left: 22.2%;
}
.getting-started > div{
    padding-left: 1.3em;
}
.getting-started-email > input{
    height: 0.0em;
    width: 28.0em;
    font-size: 1.1em;
    font-family: Calibri;
    border-color: darkslategray;
    border-radius: 0.5em;
    padding: 1.6em;
}
.getting-started-btn{
    margin-top: 0.3em;
}
.getting-started-btn > button{
    border: none;
    color: #fff;
    width: 7.0em;
    height: 3.0em;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 0.3em;
    font-family: Calibri;
    background-color: blueviolet;
}